* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(
    to left,
    hsl(199, 100%, 33%),
    hsl(187, 85%, 43%)
  ) !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
