*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
  text-align: center;
}

.sidebar{
  /* background-color: #282c34; */
  background: linear-gradient(to left, hsl(187, 84%, 17%), hsl(199, 100%, 33%));
  color: #fff;
  z-index: 1000;
}

.sidebar a i{
  color: #fff;
  /* font-size: 21px !important; */
}

.sidebar .group a{
  /* background-color: #282c34; */
  background: transparent;
  color: #fff;
  border: none;
}

.group a:hover{
  background: hsl(199, 90%, 29%);
  color: #fff;
  cursor: pointer;
}

.group{
  display: flex;
  flex-direction: column;
}

#header{
  background-color: #61dafb;
}

#home #header i{
  cursor: pointer;
}

#home .charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

#home .charts #bar{
  z-index: -1;
}


#header img{
  width: 55px;
  height: 55px;
}

.navbar{
  background: linear-gradient(to left, hsl(187, 84%, 17%), hsl(199, 100%, 33%));
  position: sticky !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.title-seller{
  background: linear-gradient(to left, hsl(187, 84%, 17%), hsl(199, 100%, 33%));
}

.imgCarousel1{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) , rgba(0,0,0,0.2)),url('../src/assets/slider13-967.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.imgCarousel2{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) , rgba(0,0,0,0.5)),url('./assets/slider11-834.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.imgCarousel3{
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3) , rgba(0,0,0,0.5)),url('../src/assets/slider12-13.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard{
  background-color: rgb(225,225, 235);
  width: 100% !important;
}

#home #content {
  background-color: #dbdbdb;
}

#home #card-1 i{
  background-color: #61dafb;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
}
#home #card-2 i{
  background-color: red;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
}
#home #card-3 i{
  background-color: orange;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
}
#home #card-4 i{
  background-color: green;
  border-radius: 10px 10px 10px 10px;
  color: #fff;
}

.custom-slider img{
  width: 100%;
}

.custom-slider button:hover{
  background: hsl(199, 90%, 29%) !important;
  transition: 1.5s;
  font-weight: bold;
}

.custom-slider button{
  background: hsl(187, 84%, 17%) !important;
  border: none;
}

.title{
  color: hsl(187, 84%, 17%);
}

.homeCard{
  padding-top: 5%;
}

.homeCard img{
  width: 100%;
  height: 80%;
}

.homeCard{
  background-color: rgb(225,225, 235);
}

tbody .archiver{
  text-decoration: line-through !important;
}

#cardImgContent{
  display: flex;
  justify-content: center;
}

#cardImg{
  width: 90% !important;
}

#cardImg:hover{
  object-fit: cover;
  transition:  2s ease;
  transform: scale(1.1);
}

#table{
  width: 200% !important;
}

/* .modal-view p{
  display: flex;
  flex-wrap: wrap;
} */

/* td{
  width: max-content !important;
} */

@media screen and (max-width: 768px) {
  .carte{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .carte #card{
    margin: 0 !important;
    padding: 0 !important;
    width: 90%;   
    margin-bottom: 10% !important; 
  }

  .carte #title{
    font-size: 12px!important;
  }

    .books .carte {
      width: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }
  
    .books #card {
      margin: 0 !important;
      padding: 0 !important;
      width: 90%;
      margin-bottom: 10% !important;
    }

    #filterDropDown .icon{
      width: max-content !important;
      height: max-content !important;
      font-size: 5px !important;
    }

    #filterDropDown .iconFliter{
      font-size: 14px !important;
    }

    #search{
      display: flex !important;
      justify-content: space-between;
    }

    #search .rounded-pill{
      width: 100% !important;
    }

    .carte .bouton{
      font-size: 10px !important;
    }

    .books .bouton{
      font-size: 10px !important;
    }

    .books #title{
      font-size: 12px !important;
    }

  .custom-slider{
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
  }

  .custom-slider .divCarousel{
    padding: 0 !important;
    padding-top: 10% !important;
    padding-bottom: 25% !important;
    padding-left: 10px !important;
  }

    .custom-slider .divCarousel .btn-lg{
      width: max-content;
      height: max-content;
      font-size: 14px;
    }

    .custom-slider .divCarousel h3, .custom-slider .divCarousel h1{
      font-size: 15px;
      font-weight: 500 !important;
    }

    .custom-slider .divCarousel p{
      font-size: 10px;
    }

    .sidebar #logo span{
        font-size: 12px !important;
    }

    .sidebar #logo #imgLogo{
      font-size: 18px !important;
    }

  .sidebar {
    z-index: 1000 !important;
    position: relative;
  }
    .sidebar .group .items i{
      font-size: 15px!important;
    }

    .sidebar .group .items span{
      font-size: 12px !important;
    }

    .connexion .backThree{
      width: 100% !important;
    }

    .backTwo {
      padding-top: 10% !important;
    }

    /* .divArchiveBooks{
      margin: 0 !important;
      padding: 0 !important;
      width: 100%;
    }

    #bookArchived{
      width: 100% !important;
      margin: 0 !important;
    } */

    .connexion .backTwo .form{
      margin: 0 !important;
      width: 100% !important;
    }

    #tableContent #table{
      margin: 0 !important;
      width: 100px !important;
      padding: 0 !important;
    }

    /* #table tbody{
      /* width: 50% !important; */
      /* margin: 0 !important;
      padding: 0 !important; */
    

    /* #table thead { */
      /* display: none !important; */
      /* width: 50% !important; */
      /* margin: 0;
      padding: 0; */
    

    /* #tableContent{
      margin: 0 !important;
    } */
     
}

@media screen and (max-width: 500px){
  #home .charts {
    display: flex;
    flex-direction: column;
  }

  .connexion{
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  
}

.soumission {
  border: none !important;
  background-color: rgb(18, 143, 189) !important;
  color: bisque !important;
}

.soumission:hover {
  background-color: green !important;
  color: #fff !important;
  transition: 2s !important;
}

.btn {
  transition: 2s !important;
}

.bg-dark {
  background-image: linear-gradient(
    to right,
    rgb(6, 71, 71),
    rgba(6, 48, 71, 0.81)
  ) !important;
}

.logo {
  color: hsl(187, 84%, 17%);
  font-size: 5rem !important;
}

thead th{
  background-color: hsl(199, 100%, 33%) !important;
}

.bookArchived thead th {
  background-color: hsl(199, 100%, 33%) !important;
}

.color {
  color: hsl(187, 84%, 17%);
}

.backOne {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backTwo {
  background-color: white;
}


.filter {
  width: 200px !important;
}

.btn {
  transition: 2s !important;
}

.backOne {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.backTwo {
  background-color: white;
}

.form {
  width: 400px;
  height: 500px;
  margin: 75px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.formulaire {
  border: none !important;
  border-bottom: 3px solid hsl(187, 84%, 17%) !important;
  outline: none !important;
}

.connexion a , .inscription a{
  text-decoration: none !important;
  color: hsl(187, 84%, 17%) !important;
  text-align: end !important;
}

.connexion , .inscription{
  background-image: linear-gradient(
    to right,
    rgb(6, 71, 71),
    rgba(6, 48, 71, 0.81)
  ) !important;
}

.wrap {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.form {
  width: 400px;
  height: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.data td {
  border-collapse: collapse;
  border: 1px solid rgb(18, 143, 189);
  overflow: hidden;
  max-width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}